@charset "UTF-8";
.nb-section {
  display: flex;
  align-items: center;
}
.nb-section__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.nb-section__image img {
  height: 400px;
  object-fit: cover;
  min-width: 100%;
}
.nb-section__content {
  padding-left: 4rem;
}
.nb-section__content h2 {
  font-size: 2.5rem;
}
.nb-section__content p {
  max-width: 700px;
}
@media (max-width: 992px) {
  .nb-section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }
  .nb-section__image {
    min-width: 100%;
  }
  .nb-section img {
    width: 100%;
  }
  .nb-section__content {
    padding-left: 0;
  }
}

.nb-greySection {
  background-color: #f2f2f2;
}
.nb-greySection h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.nb-greySection .service-box {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.7);
}
.nb-greySection .service-box img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}
.nb-greySection .service-box .text-overlay {
  position: absolute;
  bottom: 20%;
  left: 0;
  text-align: center;
  background-color: #344a5f;
  padding: 1rem;
  opacity: 1;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.nb-greySection .service-box .text-overlay h3 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
}

.nb-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nb-testimonials .nb-testimonials-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#nb-testimonials .nb-testimonials-heading h2 {
  font-size: 1.5rem;
  text-align: center;
}
#nb-testimonials > div > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#nb-testimonials .carousel-inner {
  display: flex;
}
#nb-testimonials .carousel-inner .carousel-item {
  text-align: center;
  padding: 0 32px;
}
#nb-testimonials .carousel-inner .carousel-item > div {
  max-width: 700px;
  margin: 0 auto;
}
#nb-testimonials .carousel-inner .carousel-item q {
  font-style: italic;
  font-size: 1.125rem;
}
#nb-testimonials .carousel-inner .carousel-item p {
  margin: 2rem;
}
#nb-testimonials button {
  display: none;
}
#nb-testimonials button .carousel-control-next-icon {
  display: none;
}
#nb-testimonials button .carousel-control-prev-icon {
  display: none;
}

.nb-contact .nb-contact-links {
  padding: 2rem 32px;
}
@media (max-width: 992px) {
  .nb-contact .nb-contact-links {
    padding: 0;
  }
}
.nb-contact .nb-contact-links__link {
  display: flex;
  margin-bottom: 2rem;
}
.nb-contact .nb-contact-links__link--icon {
  background-color: #344a5f;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}
.nb-contact .nb-contact-links__link--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.nb-contact .nb-contact-links__link--link p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.nb-contact .nb-contact-links__link--link a {
  color: #292929;
  text-decoration: none;
}
.nb-contact .nb-contact-links__link--link a:hover {
  text-decoration: underline;
}
.nb-contact .nb-contact-info {
  padding: 2rem 32px;
}
@media (max-width: 992px) {
  .nb-contact .nb-contact-info {
    padding: 0;
  }
}
.nb-contact .nb-contact-info > div {
  margin-bottom: 4rem;
}

#nb-header {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; /* För att säkerställa att bilden inte läcker utanför nb-header */
  z-index: -1;
  margin-top: -122px; /* Justera för headerens höjd */
}
#nb-header .nb-header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#nb-header .nb-header__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Justera opaciteten efter behov */
  z-index: 1; /* Placera den över bilden */
}
#nb-header .nb-header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#nb-header .nb-header__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
  width: 100%;
}
#nb-header .nb-header__text h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
#nb-header .nb-header__text p {
  font-size: 1.25rem;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
#nb-header .nb-header__text--button {
  margin-top: 1.5rem;
  font-size: 1rem;
}
#nb-header .nb-header__text--button button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 6px;
  padding: 1rem;
  background-color: #344a5f;
}
#nb-header .nb-header__text--button button:hover {
  cursor: pointer;
}

#nb-nav {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  transition: 0.3s ease-in-out;
}
#nb-nav .nb-nav {
  padding: 1rem 0;
}
#nb-nav .nb-nav .navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  transition: transform 0.3s ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
#nb-nav .nb-nav .navbar-brand:hover {
  cursor: pointer;
}
@media (min-width: 992px) {
  #nb-nav .nb-nav__menu {
    justify-content: center !important;
  }
  #nb-nav .nb-nav__menu ul li a {
    padding: 0.5rem 1.5rem !important;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    position: relative;
    font-size: 1rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  #nb-nav .nb-nav__menu ul li a::before, #nb-nav .nb-nav__menu ul li a::after {
    transition: all 0.5s;
  }
  #nb-nav .nb-nav__menu ul li a:hover {
    color: #fff;
  }
  #nb-nav .nb-nav__menu ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 1px;
    text-shadow: none;
  }
  #nb-nav .nb-nav__menu ul li a:hover::after {
    width: 80%;
  }
  #nb-nav .nb-nav__menu ul li a.active::after {
    width: 80%;
  }
}
#nb-nav .nb-nav__links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
#nb-nav .nb-nav__links ul li {
  position: relative;
}
#nb-nav .nb-nav__links ul li a {
  display: inline-flex; /* Lägg till detta */
  align-items: center; /* Centrera innehållet vertikalt */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
#nb-nav .nb-nav__links ul li a i {
  font-size: 1.2rem;
  margin: 0 0.8rem;
  color: #fff;
  transition: transform 0.3s ease;
  transform-origin: center; /* Jämnt förstorning runt ikonens centrum */
}
#nb-nav .nb-nav__links ul li a:hover {
  cursor: pointer;
}
#nb-nav .nb-nav__links ul li a:hover i {
  transform: scale(1.4);
}
@media (max-width: 991px) {
  #nb-nav .nb-nav button {
    border-color: transparent;
  }
  #nb-nav .nb-nav button:active, #nb-nav .nb-nav button:focus {
    outline: 2px solid #fff !important;
    box-shadow: none;
  }
  #nb-nav .nb-nav button::before {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    color: #fff;
  }
  #nb-nav .nb-nav button.open::before {
    content: "\f00d";
    font-family: "Font Awesome 6 Free";
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    color: #fff;
  }
  #nb-nav .nb-nav__menu {
    justify-content: unset;
  }
  #nb-nav .nb-nav__menu ul li a {
    padding: 1.5rem 0rem 0.2rem 0.5rem !important;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    position: relative;
  }
  #nb-nav .nb-nav__menu ul li a::before, #nb-nav .nb-nav__menu ul li a::after {
    transition: all 0.5s;
  }
  #nb-nav .nb-nav__menu ul li a:hover {
    color: #fff;
  }
  #nb-nav .nb-nav__menu ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 1px;
  }
  #nb-nav .nb-nav__menu ul li a:hover::after {
    width: 10%;
  }
  #nb-nav .nb-nav__menu ul li a.active::after {
    width: 10%;
  }
  #nb-nav .nb-nav__links {
    display: none;
  }
}

#nb-nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #344a5f;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#nb-nav.sticky .navbar-brand {
  text-shadow: none;
}
#nb-nav.sticky .nb-nav__menu ul li a {
  text-shadow: none !important;
}
#nb-nav.sticky i {
  text-shadow: none !important;
}

.nb-footer {
  background-color: #344a5f;
  color: #fff;
}
.nb-footer__info .row {
  padding: 4rem 0;
}
.nb-footer__info .row h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.nb-footer__info .row p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.nb-footer__info .row code {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
}
.nb-footer__info .row .nb-footer-contact__link a {
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.nb-footer__info .row .nb-footer-contact__link a:hover {
  text-decoration: underline;
}
.nb-footer__info .row .nb-footer-contact__link i {
  font-size: 1rem;
  margin-right: 0.5rem;
  transform-origin: center;
}
@media (max-width: 767px) {
  .nb-footer__info .row .col-md-4 {
    margin-bottom: 2rem;
  }
}
.nb-footer__text p {
  color: #fff;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #292929;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.container-fluid {
  padding: 0;
  max-width: 1360px;
  margin: 0 auto;
}

nav a:focus-visible,
nav img:focus-visible,
footer a:focus-visible,
footer img:focus-visible {
  outline: 2px solid #fff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
nav a:-webkit-any-link:focus-visible,
footer a:-webkit-any-link:focus-visible {
  outline-offset: 5px !important;
}

a:focus-visible,
img:focus-visible {
  outline: 2px solid #344a5f !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

a:-webkit-any-link:focus-visible {
  outline-offset: 5px !important;
}

.nb-padding {
  padding: 1rem 32px;
}

.nb-contact,
.nb-about,
.nb-services,
#nb-testimonials {
  padding: 6rem 32px;
}

.nb-background {
  background-color: #344a5f !important;
}

.nb-flex-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 992px) {
  .nb-flex-reverse {
    flex-direction: column-reverse;
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 3s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-transition {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.slide-transition.visible {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=main.css.map */
