// Colors
$primary-color: #344a5f;
$secondary-color: #F8F8F8;
$black: #292929;
$white: #fff;
$gray: #868585;
$beige: #f2f2f2;


// Font
$roboto: "Roboto", sans-serif;

// Font size
$normal: 1rem;
$text: 1rem;
$h1: 5rem;
$h2: 3rem;
$h3: 1.5rem;
$ingress: 1.25rem;
$line-height: 1.5;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$solid: 900;

// Container
$grid-width: 1440px;
$transition: all 0.3s ease-in-out;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;