#nb-testimonials{
   .nb-testimonials-heading{
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      h2{
         font-size: $h3;
         text-align: center;
      }
   }
   > div{
      > div{
         display: flex;
         width: 100%;
         justify-content: space-between;
      }
   }
   .carousel-inner{
      display: flex;
      .carousel-item{
         text-align: center;
         padding: 0 32px;
         > div{
            max-width: 700px;
            margin: 0 auto;
         }
        q{
         font-style: italic;
         font-size: 1.125rem;
        }
        p{
         margin: 2rem;
        }
      }
   }
   button{
      display: none;
      .carousel-control-next-icon{
        display: none;
      }
      .carousel-control-prev-icon{
         display: none;
      }
   }
}