.nb-section{
   display: flex;
   align-items: center;

   &__image{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img{
         height: 400px;
         object-fit: cover;
         border-radius: 5px;
         box-shadow: $box-shadow;
      }
   }
   &__content{
      padding-left: 4rem;
      h2{
         font-size: $h2;
      }
      p{
         max-width: 700px;
      }
   }

   @media (max-width: 992px){
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      img{
         width: 100%;
      }

      &__content{
         padding-left: 0;
         margin-top: 2rem;
      }
   }
}