#nb-nav {
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 99;
   transition: 0.3s ease-in-out;
   .nb-nav {
      padding: 1rem 0;
      .navbar-brand {
         font-size: 2rem;
         text-transform: uppercase;
         color: $white;
         font-weight: 600;
         transition: transform 0.3s ease;
         text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);

         &:hover {
            cursor: pointer;
         }
      }
      @media (min-width: 992px) {
         &__menu {
            justify-content: center !important;
            ul {
               li {
                  a {
                     padding: 0.5rem 1.5rem !important;
                     text-transform: uppercase;
                     color: $white;
                     font-weight: 500;
                     position: relative;
                     font-size: 1rem;
                     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
                     &::before,
                     &::after {
                        transition: all 0.5s;
                     }
                     &:hover {
                        color: $white;
                     }
                     &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: ".";
                        color: transparent;
                        background: $white;
                        height: 1px;
                        text-shadow: none;
                     }
                     &:hover::after {
                        width: 80%;
                     }
                     &.active::after {
                        width: 80%;
                     }
                  }
               }
            }
         }
      }
      &__links {
         ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
               position: relative;
               a {
                  display: inline-flex; /* Lägg till detta */
                  align-items: center; /* Centrera innehållet vertikalt */
                  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);

                  i {
                     font-size: 1.2rem;
                     margin: 0 0.8rem;
                     color: $white;
                     transition: transform 0.3s ease;
                     transform-origin: center; /* Jämnt förstorning runt ikonens centrum */
                  }

                  &:hover {
                     cursor: pointer;
                  }

                  &:hover i {
                     transform: scale(1.4);
                  }
               }
            }
         }
      }
   }

   @media (max-width: 991px) {
      .nb-nav {
         button{
            border-color: transparent;
            &:active,
            &:focus{
               outline: 2px solid $white !important;
               box-shadow: none;
            }
            &::before{
               content: "\f0c9";
               font-family: 'Font Awesome\ 6 Free';
               font-size: 1.5rem;
               font-weight: 600;
               display: inline-block;
               color: $white;
            }
         }
         button.open{
            &::before{
               content: "\f00d";
               font-family: 'Font Awesome\ 6 Free';
               font-size: 1.5rem;
               font-weight: 600;
               display: inline-block;
               color: $white;
            }
         }
         &__menu {
            justify-content: unset;
            ul {
               li {
                  margin: 0.5rem 0;
                  a {
                     text-transform: uppercase;
                     color: $white;
                     font-weight: 500;
                     position: relative;
                     width: fit-content;
                     &::before,
                     &::after {
                        transition: all 0.5s;
                     }
                     &:hover {
                        color: $white;
                     }
                     &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        width: 0%;
                        content: ".";
                        color: transparent;
                        background: $white;
                        height: 1px;
                     }
                     &:hover::after {
                        width: 100%;
                     }
                     &.active::after {
                        width: 100%;
                     }
                  }
               }
            }
         }
         &__links {
            display: none;
         }
      }
   }
}
#nb-nav.sticky{
   position: fixed;
   top: 0;
   width: 100%;
   background: $primary-color;
   box-shadow: $box-shadow;
   transition: 0.3s ease-in-out;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

   .navbar-brand {
      text-shadow: none;
   }
 
   .nb-nav__menu ul li a {
      text-shadow: none !important;
   }
   i{
      text-shadow: none !important;
   }
}
